<!DOCTYPE html>
<html>
  <%- include('../../layout/head',{page_title: 'Details Page'})%>
  <body>
    <%-include('../../layout/header')%>
    <main>
      <!-- <h1>Hello World</h1> -->
  
      <ul>
      <% oneBook.forEach(book => {%>
       <li>
         <img src="<%= book.image_url %>" alt="">
         <h2><%= book.title %></h2>
         <h5><%= book.author %></h5>
         <h4><%= book.isbn %></h4>
         <p><%= book.description %></p>

         <!-- <button id="update-out-form">Update Details</button> -->
         <button id="updateBtn">Update Details</button>
         <form action="/books/<%= book.id %>?_method=delete" method="post">
          <button id="deleteBtn">Delete Book</button>
        </form>
        
         
         
        <section id="updateForm">
          <h2>Update Book!</h2>
          <br>
          <form action="/books/<%= book.id %>?_method=put" method="POST">
            <input type="text" name="title" value="<%= book.title  %>" >
            <br>
            <input type="text" name="author" value="<%= book.authors %>">
            <br>
            <textarea name="description" cols="30" rows="10"><%= book.description %> </textarea>
            <br>
            <input type="text" name="isbn" value="<%= book.isbn %>">
            <br>
            <input type="text" name="image_url" value="<%= book.image_url %>">
            <br>
            <button id="upButton">Update Book Details</button> 
          </form>
          </section>
        </li>
        <% }) %>
    </ul>

    </main>
    <footer>

    </footer>

  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/js/app.js"></script>
</html>