<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/modules.css">
</head>
<body>

    <ul>
        <% allResault.forEach( book => { %>
            <li>
                <img src="<%= book.image %>" >
                <h3><%= book.author %></h3>
                <h2><%= book.title %></h2>
                <p><%= book.description %></p>
                <p><%= book.isbn %></p>
                <form action="/books" method="POST">
                    <input type="hidden" name="title" value="<%= book.title %>">
                    <input type="hidden" name="author" value="<%= book.author %>">
                    <input type="hidden" name="isbn" value="<%= book.isbn %>">
                    <input type="hidden" name="image" value="<%= book.image %>">
                    <input type="hidden" name="description" value="<%= book.description %>">
                    <button type="submit" id="save">Select this Book</button>
                  </form>
            </li>
        <% }) %>
        </ul>
</body>
</html>