<!DOCTYPE html>
<html>
  <%- include('../layout/head',{page_title: 'Book Colection'})%>
  <body>
    <%-include('../layout/header')%>
    <main>
      <!-- <h1>Hello World</h1> -->
      <h3>Saved Books<%= oneBook.length %> </h3>
     <ul>
       
       <% oneBook.forEach(book => {%>
        <li>
            <img src="<%= book.image_url %>" />
            <h2>
                <%= book.title %>
            </h2>
            <p><%= book.author %></p>
            <form action="/books/<%= book.id %>"  method="get">
              <button>View Details</button>
          </form>
         
            <!-- <a href="/id/<%= book.id %>"> View Details </a> -->
         
        <% }) %>
      </li><br>
      </ul>


    </main>
  </body>
</html> 